<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="PATTERN_LAYOUT" value="%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %class::%method -> %msg%n"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>
                    ${PATTERN_LAYOUT}
                </pattern>
            </layout>
        </encoder>
    </appender>

    <logger name="org.springframework" level="ERROR" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="com.cobalt" level="ERROR" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>